@import "colors";

$content-width: 950px;
$padding: 10px;
$padding-half: 5px;

body {
    background: $bg-black;
    color: $fg-white;
    font-size: 16px;
}

.content {
    margin: auto;

    width: $content-width;
    @media screen and (max-width:$content-width) {
        width: 100%;
    }
}

header {
    padding: $padding $padding 0 $padding;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    color: $fg-logo;
}

main {
    padding: $padding;

    word-break: break-word;
    word-wrap: break-word;

    .headline {
        margin: 2em 0;
    }

    h1 {
        background: $bg-darkgreen;
        padding: $padding $padding-half;
    }

    h2, h3 {
        margin: 2em 0 0 0;
    }

    p {
        line-height: 1.9;
    }

    pre {
        margin: 2em 0;
        padding: 1.5em;

        display: flex;
        overflow-x: auto;
    }

    a {
        color: $fg-link;
    }
}

footer {
    padding: 0 $padding $padding $padding;

    color: $fg-light-gray;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
