{% extends "base.html" %}

{% block title %}
{{ page.title }} | {{ config.extra.site_name }}
{% endblock title %}

{% block ogp %}
<meta property="og:site_name" content="{{ config.extra.site_name }}" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ config.base_url }}{{ page.path }}" />
{% endblock ogp %}

{% block main %}
<article itemscope itemtype="http://schema.org/BlogPosting">
    <div class="headline" itemprop="headline">
        <h1 class="post-title">{{ page.title }}</h2>
        <div class="border"></div>
        <div>
            <time datetime="{{ page.date | date(format="%Y-%m-%d") }}" class="post-date" itemprop="datePublished">
                {{ page.date | date(format="%Y-%m-%d") }}
            </time>
            {% if page.taxonomies.tags %}
                |
                {% for tag in page.taxonomies.tags %}
                    <span class="post-tag">🦀 {{ tag }}</span>
                {% endfor %}
            {% endif %}            
        </div>
    </div>
    <div itemprop="articleBody">
        {{ page.content | safe }}
    </div>
</article>
{% endblock main %}
