{% extends "base.html" %}

{% block title %}
{{ page.title }} | {{ config.extra.site_name }}
{% endblock title %}

{% block ogp %}
<meta property="og:image" content="{{ config.base_url }}{{ config.extra.site_ogp_path }}" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ config.base_url }}{{ page.path }}" />

<meta property="og:site_name" content="{{ config.extra.site_name }}" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@keno_ss" />
{% endblock ogp %}

{% block katex_header %}
{% if page.extra.use_katex %}
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.css"
      integrity="sha384-5TcZemv2l/9On385z///+d7MSYlvIEw9FuZTIdZ14vJLqWphw7e7ZPuOiCHJcFCP"
      crossorigin="anonymous">
<script defer
        src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.js"
        integrity="sha384-cMkvdD8LoxVzGF/RPUKAcvmm49FQ0oxwDF3BGKtDXcEc+T1b2N+teh/OJfpU0jr6"
        crossorigin="anonymous"></script>
<script defer
        src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/contrib/auto-render.min.js"
        integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh"
        crossorigin="anonymous"></script>
<script>
   document.addEventListener("DOMContentLoaded", function() {
     renderMathInElement(document.body, {
       delimiters: [
         {left: '$$', right: '$$', display: true},
         {left: '$', right: '$', display: false},
         {left: '\\[', right: '\\]', display: true},
         {left: '\\(', right: '\\)', display: false}
       ],
       throwOnError : false
     });
   });
</script>
{% endif %}
{% endblock katex_header %}

{% block main %}
<article itemscope itemtype="http://schema.org/BlogPosting">
    <div class="headline" itemprop="headline">
        <h1 class="post-title">{{ page.title }}</h2>
        <div class="border"></div>
        <div>
            <time datetime="{{ page.date | date(format="%Y-%m-%d") }}" class="post-date" itemprop="datePublished">
                {{ page.date | date(format="%Y-%m-%d") }}
            </time>
            {% if page.taxonomies.tags %}
                |
                {% for tag in page.taxonomies.tags %}
                    <span class="post-tag">🦀 {{ tag }}</span>
                {% endfor %}
            {% endif %}            
        </div>
    </div>
    <div itemprop="articleBody">
        {{ page.content | safe }}
    </div>
</article>
{% endblock main %}
